.auth {
  background: #c5c2ba;
  background: -webkit-linear-gradient(to right, $primary, #000000);
  background: linear-gradient(to right, #2a53f9, #b49a9a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
